.btn--request {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 170px;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff;
	border: 0;
	outline: 0;
	border-radius: 50px;
	background-color: #FD8BA3;
	padding: 0;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.btn--price {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: auto;
	border-radius: 50px;
	background-color: #f5f5f5;
	font-size: 14px;
	line-height: 1.35;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #4F4F4F;
	padding-top: 20px;
	padding-left: 26px;
	padding-right: 26px;
	padding-bottom: 20px;
	transition: all 0.3s ease-in-out;
	&:hover, &:active, &:focus {
		border: 2px solid #FD8BA3;
		color: #FD8BA3;
		background-color: #fff;
	}
}