@include for-size(mobile) {
	.page-header {
		padding-top: 15px;
		padding-bottom: 20px;
		&__top-part {
			padding-bottom: 15px;
		}
		&__logo {
			margin-right: 0;
		}
		&__logo img {
			width: 190px;
			height: 54px;
			min-width: 100%;
		}
		&__location-block, &__time-block, &__request-block, &__nav {
			display: none;
		}
		&__toggle {
			display: flex;
			margin-left: auto;
		}
	}

	.page-footer {
		padding-top: 30px;
		padding-bottom: 45px;
		&__logo img {
			width: 220px;
			min-width: 100%;
			margin-bottom: 26px;
		}
		&__scroll-link {
			width: 50px;
			height: 50px;
			top: 32px;
			right: 20px;
			bottom: auto;
		}
		.icon--scroll {
			display: none;
		}
		.icon--scroll_mob {
			display: block;
		}
		&__social-block {
			margin-bottom: 35px;
		}
		&__copyright-block {
			align-items: center;
		}
	}

	.breadcrumbs-block {
		&__list li a,
		&__list li span {
			font-size: 12px;
			line-height: 1.3;
		}
		&__list li:not(:last-child) {
			margin-right: 35px;
		}
		&__list li:not(:last-child)::after {
			right: -22px;
		}
		&__list li.active {
			display: block;
			flex-shrink: 0;
		}
	}

	.services-block {
		padding-top: 30px;
		padding-bottom: 35px;
		&__content-block {
			margin-bottom: 26px;
		}
		&__content-title {
			font-size: 18px;
			margin-bottom: 24px;
		}
		&__content-description {
			font-size: 14px;
		}
		&__card {
			margin-bottom: 15px;
			padding-top: 18px;
			padding-left: 15px;
			padding-right: 15px;
			padding-bottom: 16px;
		}
		&__card-icon {
			margin-bottom: 10px;
		}
		&__card-title {
			font-size: 14px;
		}
	}

	.services-inner-block {
		padding-left: 0;
		padding-right: 0;
		padding-top: 16px;
		padding-bottom: 50px;
		&__content-block {
			margin-top: 0;
			padding-top: 24px;
			padding-left: 15px;
			padding-right: 15px;
			padding-bottom: 26px;
			margin-bottom: 50px;
		}
		&__content-title {
			font-size: 18px;
			line-height: 1.3;
			margin-bottom: 4px;
		}
		&__content-icon {
			margin-bottom: 10px;
		}
		&__content-text {
			font-size: 14px;
			line-height: 1.35;
		}
	}

	.price-block {
		&__title {
			font-size: 16px;
			line-height: 1.375;
			margin-bottom: 24px;
		}
		&__nav-block {
			overflow-x: auto;
			margin-bottom: 40px;
		}
		&__nav-block .btn--price {
			font-size: 12px;
			padding-top: 13px;
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 14px;
			&:first-child {
				width: auto;
			}
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
		&__card {
			padding-bottom: 10px;
		}
		&__card:not(:last-child) {
			margin-bottom: 10px;
		}
		&__card.active &__card-link {
			position: absolute;
			bottom: 10px;
			right: 0;
		}
		&__card-heading {
			align-items: flex-start;
		}
		&__card-name {
			font-size: 14px;
			line-height: 1.4;
			max-width: 200px;
		}
		&__card-link {
			width: 35px;
			height: 35px;
		}
		&__card-value {
			flex-direction: column;
			align-items: flex-end;
			span {
				font-size: 16px;
				line-height: 1.25;
				margin-right: 0;
				margin-bottom: 26px;
			}
		}
		&__body {
			padding: 25px 0 65px 25px;
		}
		&__body-title {
			font-size: 14px;
			line-height: 1.7;
			margin-bottom: 2px;
		}
		&__body-text {
			font-size: 12px;
			line-height: 1.3;
			margin-bottom: 17px;
		}
		&__body-list ul li {
			font-size: 12px;
			line-height: 1.3;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
			&::before {
				top: 4px;
				transform: translateY(0);
			}
		}
	}

	.specialists-block {
		padding-bottom: 70px;
		&__title {
			margin-top: 70px;
			font-size: 16px;
			line-height: 1.375;
			margin-bottom: 24px;
		}
		&__card {
			margin-bottom: 30px;
		}
		&__card-photo {
			width: 190px;
			height: 190px;
			margin-bottom: 15px;
		}
		&__card-title, &__card-position {
			font-size: 14px;
			line-height: 1.35;
		}
		.btn--specialists {
			width: 190px;
			font-size: 12px;
		}
	}

	.equipment-block {
		display: none;
	}

	.reviews-block {
		padding-bottom: 100px;
		&__wrapper {
			margin: 0;
		}
		&__title {
			font-size: 18px;
			line-height: 1.3;
			margin-bottom: 24px;
		}
		&__author-block {
			flex-direction: row;
			justify-content: center;
			margin-bottom: 30px;
			max-width: 290px;
		}
		&__author-photo {
			margin-bottom: 0;
			margin-right: 30px;
		}
		&__author-name, &__author-date {
			display: none;
		}
		&__mobile-inner {
			display: flex;
			flex-direction: column;
		}
		&__mobile-name {
			display: block;
			text-align: center;
			font-family: 'Prata', sans-serif;
			font-smb: 4px;ize: 12px;
			line-height: 1.3;
			color: #1B1B1B;
			margin-bottom: 6px;
		}
		&__mobile-status {
			display: block;
			text-align: center;
			font-size: 12px;
			line-height: 1.3;
			color: $gray-color;
		}
		&__comment-block {
			flex-direction: column;
			padding: 15px 15px 26px 15px;
			max-width: 290px;
			&::before {
				top: -20px;
				left: 40px;
			}
		}
		&__specialist-block {
			display: flex;
			flex-direction: row;
			width: 260px;
			padding: 10px;
			margin-right: 0;
			margin-bottom: 20px;
		}
		&__specialist-photo {
			width: 100px;
			height: 100px;
			flex-shrink: 0;
			margin-bottom: 0;
			margin-right: 16px;
		}
		&__specialist-name {
			font-size: 14px;
			line-height: 1.1;
			margin-bottom: 4px;
		}
		&__specialist-positon {
			font-size: 12px;
			line-height: 1.3;
			max-width: 110px;
		}
		&__comment-text {
			text-align: center;
			font-size: 14px;
			line-height: 1.35;
			max-width: 250px;
			margin-bottom: 16px;
		}
		&__comment-link {
			display: block;
		}
		.btn--specialists {
			display: none;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		display: none;
	}

	.reception-block {
		padding-left: 0;
		padding-right: 0;
		&__content-background {
			background: url('../img/reception-bg.png') no-repeat bottom, linear-gradient(180deg, #EAAAA8 0%, #F0B6B5 34.09%, #EEB2B0 100%);
			background-size: contain;
		}
		&__content-block {
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 30px;
			padding-bottom: 237px;
		}
		&__title {
			font-size: 18px;
			line-height: 1.3;
			margin-bottom: 14px;
		}
		&__text {
			font-size: 14px;
			line-height: 1.35;
			margin-bottom: 16px;
		}
		&__input {
			width: 100%;
		}
		&__consent {
			display: block;
			order: 1;
			margin-top: 5px;
			margin-bottom: 27px;
		}
		.btn--reception {
			position: absolute;
			bottom: -122px;
			left: 50%;
			transform: translateX(-50%); 
		}
		.input-wrapper {
			margin-right: 0;
			margin-bottom: 10px;
		}
	}

	.doctors-block {
		&__heading-block {
			margin-top: 30px;
		}
		&__title {
			font-size: 18px;
			line-height: 1.3;
			margin-bottom: 24px;
		}
		&__description {
			font-size: 14px;
			line-height: 1.35;
			margin-bottom: 16px;
		}
		.specialists-block__card {
			margin-bottom: 30px;
		}
		.btn--specialists {
			margin-bottom: 50px;
		}
	}

	.doctors-inner-block {
		padding-left: 0;
		padding-right: 0;
		.services-block__breadcrumbs-block {
			margin-bottom: 17px;
		}
		.services-block__breadcrumbs-block ul {
			margin-left: 0;
			flex-wrap: wrap;
			justify-content: center;
		}
		&__content-wrapper {
			margin-top: 0;
			margin-bottom: 50px;
		}
		&__content-block {
			flex-direction: column;
			padding: 30px 15px;
		}
		&__photo-block {
			width: 220px;
			height: 220px;
			margin-right: 0;
			margin: 0 auto;
			margin-bottom: 10px;
			border: 4px solid #FD8BA3;
		}
		&__content-name {
			text-align: center;
			font-size: 18px;
			line-height: 1.3;
		}
		&__content-position {
			font-size: 16px;
			line-height: 1.375;
			margin-bottom: 15px;
		}
		&__content-experience {
			font-size: 14px;
			line-height: 1.35;
			text-align: center;
			margin-bottom: 16px;
		}
		&__content-text {
			font-size: 14px;
			line-height: 1.35;
			text-align: center;
			margin-bottom: 26px;
		}
		.btn--doctors {
			width: 165px;
			height: 50px;
			line-height: 50px;
			margin: 0 auto;
			span {
				padding-left: 10px;
				padding-right: 10px;
			}
			.icon--reception {
				width: 40px;
				height: 40px;
			}
		}
	}

	.doctors {
		.btn--price {
			padding: 0;
			padding-top: 13px;
			padding-bottom: 14px;
			&:first-child {
				width: 125px;
			}
			&:nth-child(2) {
				width: 85px;
			}
		}
		.specialists-block {
			margin-top: 70px;
			margin-bottom: 50px;
		}
		.btn--specialists {
			margin-top: 0;
		}
		.reviews-block__comment-block {
			margin-bottom: 30px;
		}
		.price-block__tab-content .btn--specialists {
			margin-top: 0;
		}
	}

	.programs-block {
		padding-bottom: 20px;
		&__content-block {
			margin-top: 30px;
			margin-bottom: 26px;
		}
		&__content-title {
			font-size: 18px;
			line-height: 1.3;
			margin-bottom: 24px;
		}
		&__content-description {
			font-size: 14px;
			line-height: 1.35;
		}
		&__card-icon {
			margin-bottom: 16px;
		}
		&__card-title {
			font-size: 14px;
			line-height: 1.35;
			margin-bottom: 7px;
		}
		&__card-text {
			font-size: 12px;
			line-height: 1.3;
			margin-bottom: 27px;
		}
		&__card-old {
			font-size: 16px;
			line-height: 1.375;
			margin-bottom: 4px;
			&::before {
				margin-left: -2px;
				width: 102px;
			}
		}
		&__card-price {
			font-size: 24px;
			line-height: 1.375;
			margin-bottom: 20px;
		}
	}

	.programs-inner-block {
		padding-top: 16px;
		padding-bottom: 50px;
		padding-left: 0;
		padding-right: 0;
		.programs-block__card-price {
			margin-bottom: 20px;
		}
		&__content-block {
			padding-top: 24px;
			padding-bottom: 30px;
		}
		&__content-title {
			font-size: 18px;
			line-height: 1.3;
			margin-bottom: 4px;
		}
		&__content-icon {
			margin-bottom: 10px;
		}
		&__content-text {
			font-size: 14px;
			line-height: 1.375;
			margin-bottom: 26px;
		}
	}

	.description-block {
		padding-bottom: 70px;
		&__title {
			font-size: 16px;
			line-height: 1.375;
			margin-bottom: 24px;
		}
		&__text {
			margin-bottom: 26px;
		}
		&__text p {
			margin: 0;
		}
	}

	.programs {
		.reviews-block {
			padding-top: 70px;
			padding-bottom: 70px;
		}
	}

	.about-block {
		padding-top: 30px;
		padding-bottom: 50px;
		padding-left: 0;
		padding-right: 0;
		&__title {
			font-size: 18px;
			line-height: 1.3;
			margin-bottom: 24px;
		}
		&__advantages-block {
			display: block;
			margin-bottom: 7px;
		}
		&__content-background {
			padding-top: 30px;
			padding-bottom: 50px;
		}
		&__advantages-card:not(:last-child) {
			margin-right: 0;
			margin-bottom: 30px;
		}
		&__advantages-card {
			justify-content: center;
		}
		&__advantages-num {
			font-size: 64px;
			line-height: 1.35;
		}
		&__advantages-from, &__advantages-inner span {
			font-size: 18px;
			line-height: 1.3;
		}
		&__content-block {
			padding-top: 20px;
			padding-left: 15px;
			padding-right: 15px;
			padding-bottom: 30px;
		}
		&__content-block p {
			font-size: 16px;
			line-height: 1.375;
			margin-bottom: 24px;
		}
		&__content-photo {
			margin-bottom: 10px;
		}
		&__content-photo img {
			width: 90px;
			height: 90px;
		}
		&__content-name {
			font-size: 16px;
			line-height: 1.375;
			margin-bottom: 5px;
		}
		&__content-position {
			font-size: 14px;
			line-height: 1.35;
		}
	}

	.about-inner-block {
		padding-bottom: 30px;
		&__title {
			font-size: 16px;
			line-height: 1.375;
			margin-bottom: 24px;
		}
		&__content-block p {
			margin-bottom: 16px;
		}
		&__content-block ul {
			margin-bottom: 26px;
		}
		&__content-block ul li {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	.advantages-inner-block {
		padding-bottom: 44px;
		&__card {
			margin-bottom: 26px;
		}
		&__card-icon {
			margin-bottom: 15px;
		}
		&__card-icon img {
			width: 60px;
			height: 60px;
		}
		&__card-title {
			font-size: 14px;
			line-height: 1.35;
		}
	}

	.ages-block {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 70px;
		&__content-background {
			padding-top: 50px;
		}
		&__description-title.first-title {
			left: 120px;
		}
		&__description-title.second-title {
			left: 330px;
		}
		&__title {
			font-size: 16px;
			line-height: 1.375;
			margin-bottom: 24px;
		}
		&__text {
			font-size: 14px;
			line-height: 1.35;
			margin-bottom: 26px;
		}
		&__description-block {
			display: none;
		}
		&__photo-wrapper {
			margin-top: 0;
		}
	}

	.guarantees-block {
		&__title {
			font-size: 16px;
			line-height: 1.375;
			margin-bottom: 24px;
		}
		&__text {
			font-size: 14px;
			line-height: 1.35;
			margin-bottom: 26px;
		}
	}

	.map-block {
		padding-left: 0;
		padding-right: 0;
	}

	.contacts-block {
		padding-top: 30px;
		&__content-block {
			flex-direction: column;
		}
		&__title {
			font-size: 18px;
			line-height: 1.3;
			margin-bottom: 24px;
		}
		&__time-block {
			order: 2;
			margin-bottom: 25px;
		}
		&__location-block {
			order: 1;
		}
		&__time-text {
			font-size: 16px;
			line-height: 1.375;
			text-align: center;
		}
		&__phone-link {
			font-size: 24px;
			line-height: 1.375;
			margin-bottom: 8px;
		}
		&__address {
			font-size: 16px;
			line-height: 1.375;
			margin-bottom: 10px;
		}
		&__mail-link {
			font-size: 16px;
			line-height: 1.375;
			margin-bottom: 25px;
		}
		.page-footer__social-block {
			order: 3;
			padding-top: 0;
		}
		.page-footer__social-block ul li a {
			width: 50px;
			height: 50px;
		}
	}
	
	.map-block {
		padding-bottom: 55px;
		&__map {
			height: 400px;
		}
	}

	.callback-block {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 50px;
		&__content-background {
			background: url('../img/callback-bg.png') no-repeat bottom, linear-gradient(180deg, #FC9D9E 0%, #EE908E 100%);
			background-size: contain;
			padding-top: 30px;
			padding-bottom: 240px;
		}
		&__title {
			font-size: 18px;
			line-height: 1.3;
			margin-bottom: 14px;
		}
		&__text {
			font-size: 14px;
			line-height: 1.36;
			margin-bottom: 16px;
		}
		&__form-wrapper {
			display: block;
			margin-bottom: 10px;
		}
		.input-wrapper {
			margin-bottom: 10px;
			&:not(:last-child) {
				margin-right: 0;
			}
		}
		&__textarea {
			margin-bottom: 15px;
		}
		&__agreement {
			margin-bottom: 27px;
		}
	}

	.text-input {
		padding-top: 16px;
		padding-bottom: 16px;
	}
}


@include for-size(tablet) {
	.page-header {
		&__location-block {
			margin-right: 0;
		}
		&__logo {
			margin-right: 25px;
		}
		&__logo img {
			width: 240px;
			min-width: 100%;
		}
		&__time-block, &__toggle {
			display: none;
		}
		&__nav li:not(:last-child) {
			margin-right: 45px;
		}
	}

	.page-footer {
		&__logo {
			padding-top: 22px;
		}
		&__logo img {
			width: 200px;
			min-width: 100%;
		}
		&__scroll-link {
			display: none;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		width: 50px;
		height: 50px;
	}
	.swiper-button-prev {
		left: -14px;
	}
	.swiper-button-next {
		right: -14px;
	}

	.services-inner-block {
		&__content-text {
			max-width: 700px;
		}
	}

	.reception-block {
		padding-left: 0;
		padding-right: 0;
		&__content-background {
			background: url('../img/reception-bg.png') no-repeat left bottom, linear-gradient(180deg, #EAAAA8 0%, #F0B6B5 34.09%, #EEB2B0 100%);
		}
		&__form-wrapper {
			display: block;
			margin: 0 auto;
		}
		&__input {
			margin-right: 0;
			margin-bottom: 30px;
		}
		&__text {
			max-width: 700px;
		}
		.input-wrapper {
			margin-right: 0;
			margin: 0 auto;
		}
		.btn--reception {
			margin: 0 auto;
		}
	}

	.specialists-block {
		&__card-photo {
			width: 200px;
			height: 200px;
		}
	}

	.price-block {
		&__nav-block {
			overflow-x: auto;
		}
		&__card-name {
			max-width: 500px;
		}
	}

	.services-inner-block {
		padding-left: 0;
		padding-right: 0;
	}

	.doctors-inner-block {
		padding-left: 0;
		padding-right: 0;
		&__content-block {
			padding-left: 15px;
			padding-right: 15px;
		}
		&__photo-block {
			width: 300px;
			height: 300px;
			margin-right: 50px;
		}
	}

	.programs-inner-block {
		padding-left: 0;
		padding-right: 0;
	}

	.about-block {
		padding-left: 0;
		padding-right: 0;
		&__advantages-card:not(:last-child) {
			margin-right: 45px;
		}
		&__advantages-block {
			margin-bottom: 40px;
		}
		&__advantages-num {
			font-size: 60px;
		}
		&__advantages-from {
			font-size: 16px;
		}
		&__content-block p {
			font-size: 18px;
		}
		&__advantages-inner span {
			font-size: 16px;
		}
		&__content-block {
			padding: 50px;
		}
	}

	.advantages-inner-block {
		&__card {
			margin-bottom: 30px;
		}
	}

	.ages-block {
		padding-left: 0;
		padding-right: 0;
		&__description-title.first-title {
			left: 120px;
		}
		&__description-title.second-title {
			left: 330px;
		}
		&__description-title.third-title {
			right: 126px;
		}
	}

	.map-block {
		padding-left: 0;
		padding-right: 0;
	}
		
	.contacts-block {
		&__time-text {
			font-size: 16px;
		}
		&__phone-link {
			font-size: 24px;
		}
		&__address {
			font-size: 16px;
		}
		&__mail-link {
			font-size: 16px;
		}
		.page-footer__social-block ul li a {
			width: 50px;
			height: 50px;
		}
	}

	.callback-block {
		padding-left: 0;
		padding-right: 0;
	}
}

@include for-size(desktop) {
	.page-header {
		&__toggle {
			display: none;
		}
	}
	.page-footer {
		&__scroll-link {
			display: none;
		}
	}
}

@include for-size(xl) {
	.swiper-button-prev {
		left: -100px;
	}
	.swiper-button-next {
		right: -100px;
	}
}

@include for-size(xxl) {
	.page-footer {
		&__scroll-link {
			display: flex;
		}
		.icon--scroll {
			display: block;
		}
		.icon--scroll_mob {
			display: none;
		}
	}
}