.main-page-wrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-page-blocks {
	width: 100%;
	flex-shrink: 0;
}

.page-header {
	padding-top: 18px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 500;
	&__row {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-left: 15px;
		padding-right: 15px;
	}
	&__top-part {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 20px;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: #F6F3F3;
			z-index: 1;
		}
	}
	&__logo {
		width: 318px;
		img {
			width: 100%;
			height: 100%;
			display: block;
			background-size: cover;
			backface-visibility: hidden;
		}
	}
	&__location-block {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.icon--location {
		display: block;
		flex-shrink: 0;
		margin-right: 15px;
	}
	&__phone-link {
		display: block;
		text-align: center;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.35;
		text-decoration: none;
		color: $gray-color;
		&:hover, &:active {
			text-decoration: none;
		}
	}
	&__address {
		display: block;
		margin: 0;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.35;
		color: $gray-color;
	}
	&__time-block {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	&__time-inner {
		display: flex;
		flex-direction: column;
	}
	.icon--clock {
		display: block;
		flex-shrink: 0;
		margin-right: 16px;
	}
	&__time-text {
		display: block;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.35;
		color: $gray-color;
	}
	&__nav {
		width: 100%;
	}
	&__nav ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	&__nav li:not(:last-child) {
		margin-right: 90px;
	}
	&__nav a {
		position: relative;
		display: block;
		font-size: 16px;
		line-height: 1.375;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #4f4f4f;
		padding-top: 12px;
		padding-bottom: 14px;
		font-weight: 600;
		text-decoration: none;
		transition: all 0.3s ease-in-out;
		&:hover, &:active {
			color: #FD8BA3;
			transition: all 0.3s ease-in-out;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: -8px;
				right: auto;
				width: calc(100% + 16px);
				height: 3px;
				border-radius: 5px;
				background-color: #FD8BA3;
				text-decoration: none;
				transition: all 0.3s ease-in-out;
			}
		}
	}
	&__toggle {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: #FD8BA3;
		cursor: pointer;
	}
	&__toggle span {
		position: relative;
		display: block;
		width: 23px;
		height: 1px;
		background-color: #fff;
		user-select: none;
		transition: all 0.3s ease-in-out;
	}
	&__toggle span::before,
	&__toggle span::after {
		content: '';
		position: absolute;
		width: 23px;
		height: 1px;
		background-color: #fff;
		transition: all 0.3s ease-in-out;
	}
	&__toggle span::before {
		transform: translateY(-7px);
	}
	&__toggle span::after {
		transform: translateY(7px);
	}
	&__toggle.close-button span {
		width: 0;
	}
	&__toggle.close-button span::before {
		left: -11px;
		transform: rotate(45deg);
	}
	&__toggle.close-button span::after {
		left: -11px;
		transform: rotate(-45deg);
	}
}








