.programs {
	.btn--price {
		&:first-child {
			width: auto;
		}
	}
	.reviews-block {
		padding-top: 85px;
	}
	.reviews-block__wrapper {
		margin-bottom: 0;
	}
}

.programs-inner-block {
	padding-top: 25px;
	padding-bottom: 100px;
	padding-left: 50px;
	padding-right: 50px;
	&__content-background {
		background-color: #FFE4E1;
	}
	&__content-block {
		width: 100%;
		display: block;
		padding-top: 70px;
		padding-bottom: 100px;
	}
	&__content-title {
		display: block;
		text-align: center;
		margin-bottom: 20px;
		font-family: 'Prata', sans-serif;
		font-size: 30px;
		font-weight: 400;
		color: #1b1b1b;
	}
	&__content-icon {
		display: block;
		margin-bottom: 14px;
		img {
			display: block;
			margin: 0 auto;
			width: 80px;
			height: 80px;
			object-fit: contain;
		}
	}
	&__content-text {
		display: block;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 42px;
		max-width: 970px;
		width: 100%;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.75;
		color: $gray-color;
	}
	.programs-block__card-price {
		margin-bottom: 57px;
	}
	.btn--doctors {
		margin: 0 auto;
	}
}