.services-inner-block {
	padding-top: 25px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 100px;
	&__content-background {
		background-color: #FFE4E1;
	}
	&__content-block {
		width: 100%;
		display: block;
		padding-top: 71px;
		padding-bottom: 92px;
	}
	&__content-title {
		display: block;
		text-align: center;
		font-family: 'Prata', sans-serif;
		font-size: 30px;
		font-weight: 400;
		line-height: 1.367;
		color: #1B1B1B;
		margin: 0;
		margin-bottom: 19px;
	}
	&__content-icon {
		display: block;
		margin-bottom: 14px;
		img {
			display: block;
			margin: 0 auto;
		}
	}
	&__content-text {
		display: block;
		text-align: center;
		max-width: 970px;
		margin: 0 auto;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.75;
		color: $gray-color;
	}
}