<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4 col-lg-4 col-xl-4">
				<div class="page-footer__logo">
					<img src="img/logo.png" alt="">
				</div>
			</div>
			<div class="col-12 col-md-4 col-lg-4 col-xl-4">
				<div class="page-footer__social-block">
					<ul class="page-list">
						<li>
							<a href="#">
								<svg width="20" height="20">
									<use xlink:href="#facebook"></use>
								</svg>
							</a>
						</li>
						<li>
							<a href="#">
								<svg width="20" height="20">
									<use xlink:href="#instagram"></use>
								</svg>
							</a>
						</li>
						<li>
							<a href="#">
								<svg width="20" height="20">
									<use xlink:href="#vk"></use>
								</svg>
							</a>
						</li>
					</ul>
					<a href="#" class="page-footer__privacy-link">Политика конфиденциальности</a>
				</div>
			</div>
			<div class="col-12 col-md-4 offset-md-0 col-lg-3 offset-lg-1 col-xl-3 offset-xl-1">
				<div class="page-footer__copyright-block">
					<span class="page-footer__copyright">Feminamed  - © 2019</span>
					<p class="page-footer__made">
						<span>Сделано в</span>
						<a href="#">
							<svg width="100" height="22">
								<use xlink:href="#copyright"></use>
							</svg>
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<a href="javascript:;" class="page-footer__scroll-link">
		<svg width="32" height="32" class="icon--scroll">
			<use xlink:href="#scroll"></use>
		</svg>
		<svg width="10" height="18" class="icon--scroll_mob">
			<use xlink:href="#scroll_mob"></use>
		</svg>
	</a>
</footer>