
.container {
	margin: 0 auto;
	min-width: 320px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

.text-input {
	border: none;
	outline: none !important;
	-webkit-appearance: none;
	background: none;
	overflow: hidden;

	height: 60px;
	line-height: normal;
	color: #000;
	font-weight: 400;
	font-size: 16px;
	font-family: 'ProximaNova'; // SET FONT FAMILY
	
	border-radius: 3px;
	
	border: 1px solid #ccc;
	

	padding-left: 20px;
	padding-right: 0;

	width: 100%;
	background-color: #fff;

	&:-moz-placeholder {
		color: #879ea7;
	}
	&::-moz-placeholder { 
		color: #879ea7;
	}
	&:-ms-input-placeholder { 
		color: #879ea7;
	}
	&::-webkit-input-placeholder {
		color: #879ea7;
	}
}

@mixin for-size($size) {
  @if $size == mobile {
    @media (max-width: 767px) { @content; }
  } @else if $size == tablet {
    @media (min-width: 768px) and (max-width: 1199px) { @content; }
  } @else if $size == desktop {
    @media (min-width: 1200px) { @content; }
  } @else if $size == xl {
    @media (min-width: 1440px) { @content; }
  } @else if $size == xxl {
    @media (min-width: 1600px) { @content; }
  } @else if $size == xxxl {
    @media (min-width: 1920px) { @content; }
  }
}


@include for-size(mobile) {
	.container {
		max-width: 500px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@include for-size(tablet) {
	.container {
		max-width: 900px;
		padding-left: 30px;
		padding-right: 30px;
	}
}

@include for-size(desktop) {
	.container {
		width: 1170px;
	}
}


